body{
    font-family: 'Segoe UI',sans-serif;
    background-color: rgb(164, 176, 202);
    color: rgb(0, 0, 0);
    padding: 40px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

h2{
    color: #000000;
    margin-top: 60px;
}

ul{
    background-color: rgb(140, 140, 160);
    padding: 15px 39px;
    border-radius: 9px;
    box-shadow: 0 3px 6px rgb(0, 0, 0);

}

li{
    margin-bottom: 9 px;
}
a{
    color: rgb(95, 49, 49);
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}
img{
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}